body {
  background: dodgerblue;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}
h1 {
  color: white;
  font-family: Fredoka One, sans-serif;
}

button, a {
  outline: none;
}

button:focus{
  outline: none !important;
  outline-style: none;
}

button::-moz-focus-inner { border: 0; }
a::-moz-focus-inner { border: 0; }

.footer {
  position: fixed;
  left: 0;
  bottom: 25px;
  font-size: 75%;
  width: 100%;
  color: white;
  text-align: center;
}

.footer button{
    border: 2px solid white;
    font-size: 75%;
    background: none;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    transition: all 150ms ease-in-out;
    outline: none;
  
}

.footer a{
  border: 1px solid white;
  padding: 10px 15px;
  font-size: 100%;
  background: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin: 10px;
  transition: all 150ms ease-in-out;
  outline: none;
}

.footer button:active, .footer a:active {
  background: white;
  color: dodgerblue;
}

#root {
  height: 100vh;
  width: 100vw;
}