body {
  background: dodgerblue;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

button, a {
  border: 2px solid white;
  padding: 15px 30px;
  font-size: 100%;
  background: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 15px;
  transition: all 150ms ease-in-out;
  outline: none;
}

button:active, a:active {
  background: white;
  color: dodgerblue;
}

button:focus{
  outline: none !important;
  outline-style: none;
}

button::-moz-focus-inner { border: 0; }

.footer {
  position: fixed;
  left: 0;
  bottom: 25px;
  width: 100%;
  color: white;
  text-align: center;
}

.footer button{
    border: 2px solid white;
    padding: 15px 30px;
    font-size: 75%;
    background: none;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    margin: 10px;
    transition: all 150ms ease-in-out;
    outline: none;
  
}

.footer a{
  border: 2px solid white;
  padding: 15px 30px;
  font-size: 75%;
  background: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin: 10px;
  transition: all 150ms ease-in-out;
  outline: none;

}